body
{
	font-family: "DM Sans";
	padding-left: 8px;
}

p {
	color:rgb(29, 29, 30);
	font-size: 24px;
	line-height: 150%;
	font-weight: 250;
}

hgroup
{
	background-color: #764316;
	padding-top: 60px;
}

hgroup h1{
	color: #E5642D;
}

hgroup em{
	color: white;
}


h1{

	text-transform: uppercase;
	text-align: left;
	font-weight:400px;

}


h2{
	font-size: 80px;
	max-width: 12ch;
	color: #000000;
}

h3{
	font-size: 36px;

}


 blockquote { 
	font-size: 44px;
	text-align: left;
	line-height: 125%;
	
} 

.StyleFont
{
	font-family: 'Great Vibes';
	/* color: #E7C8C9; */
	color: white;
	
}


.StyleColor{
	color:#4CC800;
	
}

.fixwidth{
	width: 100%;
	text-align: right;
	padding-left: 80px;
	color: #E3AE97;
}

.fixwidth section {
    display: inline-block;
	padding-left: 0px;
	padding-right: 60px;
	padding-bottom: 20px;
	text-align: center;
}

.fixwidth p{
	color: #E3AE97;
}

.fixwidth em{
	font-weight: 400;
	color: #E7C8C9;
}

.headingWrapper{
	font-family: 'DM Sans';
	font-size:170px;
	color: rgb(0, 0, 0);
	text-align: center;
	padding-left: 60px;
	padding-bottom: 20px;
	margin: 0px;
	border-radius: 10px;
	border-color: rgb(0, 0, 0);
	width: 80%;
	line-height: 180px;


}


.ArtcileParaWrapper{
		background-color: #F8F7F1;
		margin-bottom: 2px;
		padding-right: 50px;
		padding-bottom: 20px;
		margin-top: 12px;

}

.ArtcileParaWrapper p
{
		padding-left: 500px;
		padding-bottom: 15px;
		padding-top: 20px;
}



.ArtcileParaWrapper p:first-child{
	padding-top: 50px;
}

.ArtcileParaWrapper h2{
	margin-left: 0px;
	padding-left: 60px; 
}

.ArtcileParaWrapper h3{
	max-width: 45%;
	padding-left: 60px;
	margin-left: 0px;
	padding-top: 30px;
}

.ArtcileParaWrapper .StyleFont
{
	color: #8A3324;
}


.browntext {
	color: #8A3324;

}


.ArtcileParaWrapper blockquote{

	padding-left: 30px;
	padding-right: 50px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 10px;
	width: 75%;
	background-color: #764316;
	border-radius: 20px;

}



blockquote {
	font-size: 44px;
	text-align: left;
	color: #D09597;
	font-weight: 250;

}

blockquote em{
	color: #E5642D;
	transition: color 0.5s ease;
}
	
blockquote em:hover{
	color: white;

}

.ArtcileParaWrapper cite{
	font-weight: 700px;
	color: #E5642D;
	opacity: 90%;
	font-size: 20px;
	text-transform: uppercase;


}


h4{
	font-size: 32px;
}


.responsebg{
	background-color: #764316;
	padding-top: 60px;
	padding-left: 60px;
	padding-bottom: 60px;
}


.responseHeadWrapper {
	width: fit-content;
	display: inline-block;
	vertical-align:top;
}


.responseHeadWrapper h1{
	color: #E5642D;
}



.responseWrapper {
	width: fit-content;
	font-size: 100px;
	font-weight: normal;
	line-height: 110%;
	margin-left: 0;
	text-transform: uppercase;
	text-align: left;

}


.responseLink
{	
	width: fit-content;
	padding-left: 0px;
	margin: 0px;
	font-size: 20px;
	text-align: left;
	padding-bottom: 2px;
	color: #D09597;
}

.responseLink a
{
	color: #E5642D;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
  }


.responseParaWrapper {
	width: 55%;
	display: inline-block;
	margin-left: 80px;
}


.responseParaWrapper h4 {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
	width: fit-content;
	padding-top: 20px;
	padding-bottom: 2px;
	font-weight: 400;
	color: #E7C8C9;
	
}

.responseParaWrapper p {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
	width: fit-content;
	padding-top: 6px;
	padding-bottom: 20px;
	color: #D09597;
	font-weight: 200;
}


.responseParaWrapper em{
	color: #E7C8C9;
}

.responseParaWrapper blockquote{
width: 50%;
background-color: white;
}



.responsequote{
	max-width: 38%;
	text-align: left;
	font-size: 24px;
	padding-bottom: 0;
	display: inline-block;
	}


.responsequote blockquote {
	display: inline-block;
}


.responsequote em{
	color: #E5642D;
}


.ColorChange {
	color: inherit; 
	cursor: pointer;
	transition: color 0.3s ease;
}


.ColorChange:hover{
	color: white;
}


.responsequote cite{
font-weight: 500px;
color: #D09597;
opacity: 70%;
font-size: 20px;
padding: 0;
}

hr {
	border: none;
	border-top: 0.5px solid rgb(145, 145, 145);
	margin: 20px 0; 
  }


footer {
text-align: center;
padding: 10px;
background-color: #efd6d7;
padding-bottom: 50px;
}

footer p,a{
	padding: 5px;
}

.copytext{
	font-size: 18px;
	color: #764316;
}

.BackToTop{
	background-color: #D09597;
	bottom: 10px; 
	right: 20px;
	margin-top: 50px;
	color: #0b0b0b;
	padding: 8px 16px;
	border-radius: 500px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	transition: background-color 0.3s ease;
}

  .great-vibes-regular {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	font-style: normal;
  }

