body
{
	font-family: "DM Sans";
	padding-left: 8px;
	/* max-width: 75ch; */
}

p {
	color:rgb(29, 29, 30);
	font-size: 24px;
	line-height: 150%;

}

h1{

	/* line-height: 150px; */
	text-transform: uppercase;
	text-align: left;
	font-weight:900px;

}


h2{
	font-size: 80px;
	/* margin-left: 40px;
	padding-left: 50px; */
	max-width: 12ch;
	color: #4CC800;
}

h3{
	font-size: 36px;

}


blockquote { 
	font-size: 44px;
	text-align: left;
	font-weight:500px;
	
}

.StyleFont
{
	font-family: 'Great Vibes';
}

.StyleColor{
	color:#4CC800;
	
}

.fixwidth{
	width: 100%;
	text-align: left;
	padding-left: 80px;
}

.fixwidth section {
    display: inline-block;
	padding-left: 0px;
	padding-right: 40px;
}

.fixwidth em{
	font-weight: bold;
}

.headingWrapper{
	font-family: 'DM Sans';
	font-size:170px;
	color: rgb(0, 0, 0);
	text-align: center;
	padding-left: 60px;
	padding-bottom: 20px;
	margin: 0px;
	border-radius: 10px;
	border-color: rgb(0, 0, 0);
	width: 80%;
	font-weight: bold;
	line-height: 180px;


}


.ArtcileParaWrapper{

		/* width:900px; */
		/* max-width: 160ch; */
		/* width: 50%; */
		margin-bottom: 2px;
		padding-right: 50px;
		padding-bottom: 20px;
		margin-top: 12px;

}

.ArtcileParaWrapper p
{
		padding-left: 500px;
		padding-bottom: 15px;


}

.ArtcileParaWrapper h2{
	margin-left: 0px;
	padding-left: 60px; 
}

.ArtcileParaWrapper h3{
	max-width: 45%;
	padding-left: 60px;
	margin-left: 0px;
	padding-top: 30px;
}

.ArtcileParaWrapper blockquote{

	padding-left: 30px;
	max-width: 80%;

}

.ArtcileParaWrapper cite{
	font-weight: 500px;
	color: rgb(197, 197, 197);
	font-size: 20px;

}


h4{
	font-size: 32px;
	/* padding-left: 600px;
	padding-right: 50px;
	padding-top: 50px; */

}


.responsebg{
	background-color: #62E810;
	padding-top: 60px;
	padding-left: 60px;
	padding-bottom: 60px;
}


.responseHeadWrapper {
	width: fit-content;
	display: inline-block;
	vertical-align:top;

}


.responseWrapper {
	width: fit-content;
	font-size: 100px;
	font-weight: normal;
	line-height: 110%;
	margin-left: 0;
	text-transform: uppercase;
	text-align: left;

}


.responseLink
{	
	width: fit-content;
	padding-left: 0px;
	margin: 0px;
	font-size: 20px;
	text-align: left;
	padding-bottom: 2px;
}

.responseLink a
{
	color: white;
}

a:hover {
	color: #0400ff;
  }


.responseParaWrapper {
	width: 55%;
	display: inline-block;
	margin-left: 80px;
}


.responseParaWrapper h4 {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
	width: fit-content;
	padding-top: 20px;
	padding-bottom: 2px;
	font-weight: 500;
	
}

.responseParaWrapper p {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
	width: fit-content;
	padding-top: 6px;
	padding-bottom: 20px;
}

.responseParaWrapper blockquote{
width: 50%;
background-color: white;
}




.responsequote{
	/* position: absolute; */
	max-width: 35%;
	text-align: left;
	font-size: 24px;
	padding-bottom: 0;
	display: inline-block;
	}

.responsequote blockquote {
	display: inline-block;

}

.responsequote em{
	color: white;
}

.responsequote cite{
font-weight: 500px;
color: black;
opacity: 30%;
font-size: 20px;
padding: 0;
}

hr {
	border: none;
	border-top: 0.5px solid rgb(145, 145, 145);
	margin: 20px 0; 
  }


footer {
text-align: center;
padding: 60px;
background-color: #22ff001c;
}

  .great-vibes-regular {
	font-family: "Great Vibes", cursive;
	font-weight: 400;
	font-style: normal;
  }

